.header{
  min-height: 50px;
  background-color: #31474d;
}

.cell a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  display:inline-block;
  margin-left: 15px;
  margin-top: 5px;
  padding: 10px;
}

.cell a:hover {
  background-color: #435357;    
  display:inline-block;
  border-radius: 4px;
}

.cell{
  width: 15%;
  float: left;
}

.table
{
  display: table;
}

.title
{
  display: table-caption;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  color:#31474d;;
}

.heading
{
  display: table-row;
  font-weight: bold;
  text-align: center;
  background-color: #dcdbbe;
  color: #223135;
}

.row
{
  display: table-row;
  color: #223135;   
  margin-bottom:10px;
}

.sub-tab{
  margin-left: 50px;
}

.column
{
  display: table-cell;
  padding-left: 50px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.column.box{    
  border: solid;
  border-width: thin;
}

.column a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  display:inline-block;
  margin-left: 15px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #435357;    
  border-radius: 4px;
}

.column a:hover {
  background-color: #386975; 
  display:inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;    
  margin-left: 20px;
  margin-top: 20px;
}
.form-control.short{    
  width: 50% !important;
}
.form-control.check{
  margin-bottom: -10px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: .075rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}
.btn{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  display:inline-block;
  margin-left: 50px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #435357;    
  border-radius: 4px;
}

.btn :hover {
  background-color: #386975; 
  display:inline-block;
  border-radius: 4px;
}

.title-button{
  float: right;
  padding-bottom: 10px;
}

.alert-danger{
  color: red;
}