<div class="container">
  <h2>Calculator</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="sub-tab" formArrayName="jobSkillWeightageRequired">
          <div class="row" *ngFor="let jobSkill of form.get('jobSkillWeightageRequired')['controls']; let i = index"
              [formGroupName]="i">
              <div class="column box">
                <input formControlName="operand" id="operand" type="number" class="form-control" placeholder="Value">
                <div *ngIf="f.operand.touched && f.operand.invalid" class="alert alert-danger">
                    <div *ngIf="f.operand.errors.required">Title is required.</div>
                </div>
              </div>
              <div class="column box">
                  <a class="" (click)="removeOrClearSkillSetRequired(i)" title="Remove">
                      -
                  </a>
                  <a class="float-left" color="primary" (click)="addSkillSetRequiredFormGroup()" title="Add More">
                      +
                  </a>
              </div>
          </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>